.gradle
.studio
*.ipr
*.iml
*.iws
dataSources/
.ideaDataSources/
out
test-run
build/
deploy/
modules/core/build/
modules/global/build/
modules/gui/build/
modules/gui/src/com/cernol/works/web/
modules/web/build/