.gradle
.studio
.idea
.ideaDataSources
.classpath
.project
.settings
.vscode

*.ipr
*.iml
*.iws
*.zip
dataSources/

out
test-run
build/
classes/
deploy/

modules/gui/src/com/cernol/works/web/


modules/**/bin
modules/**/build