.gradle
.studio
*.ipr
*.iml
*.iws
*.zip
dataSources/
.ideaDataSources/
out
test-run
build/
deploy/

modules/gui/src/com/cernol/works/web/

.classpath
.project
.settings
/.vscode/

modules/**/bin
modules/**/build