<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="works2"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.cernol.works.entity.Category</class>
        <class>com.cernol.works.entity.Order</class>
        <class>com.cernol.works.entity.WorksOrder</class>
        <class>com.cernol.works.entity.StockItem</class>
        <class>com.cernol.works.entity.Mixer</class>
        <class>com.cernol.works.entity.Container</class>
        <class>com.cernol.works.entity.RawMaterial</class>
        <class>com.cernol.works.entity.Product</class>
        <class>com.cernol.works.entity.Lable</class>
        <class>com.cernol.works.entity.WorksOrderPacking</class>
        <class>com.cernol.works.entity.WorksOrderIngredient</class>
        <class>com.cernol.works.entity.WorksOrderLable</class>
        <class>com.cernol.works.entity.Formula</class>
        <class>com.cernol.works.entity.DecantingOrder</class>
        <class>com.cernol.works.entity.DecantingOrderSource</class>
        <class>com.cernol.works.entity.DecantingOrderTarget</class>
        <class>com.cernol.works.entity.SalesOrder</class>
        <class>com.cernol.works.entity.SalesOrderContainer</class>
        <class>com.cernol.works.entity.SalesOrderRawMaterial</class>
    </persistence-unit>
</persistence>
