<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="works2"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.cernol.works.entity.Category</class>
        <class>com.cernol.works.entity.Order</class>
        <class>com.cernol.works.entity.WorksOrder</class>
        <class>com.cernol.works.entity.StockItem</class>
        <class>com.cernol.works.entity.Mixer</class>
        <class>com.cernol.works.entity.Container</class>
        <class>com.cernol.works.entity.RawMaterial</class>
        <class>com.cernol.works.entity.Product</class>
        <class>com.cernol.works.entity.Lable</class>
        <class>com.cernol.works.entity.WorksOrderPacking</class>
        <class>com.cernol.works.entity.WorksOrderIngredient</class>
        <class>com.cernol.works.entity.WorksOrderLable</class>
        <class>com.cernol.works.entity.Formula</class>
        <class>com.cernol.works.entity.DecantingOrder</class>
        <class>com.cernol.works.entity.DecantingOrderTarget</class>
        <class>com.cernol.works.entity.SalesOrder</class>
        <class>com.cernol.works.entity.SalesOrderContainer</class>
        <class>com.cernol.works.entity.SalesOrderRawMaterial</class>
        <class>com.cernol.works.entity.StockCount</class>
        <class>com.cernol.works.entity.StockCountItem</class>
        <class>com.cernol.works.entity.StockIntake</class>
        <class>com.cernol.works.entity.StockIntakeItem</class>
        <class>com.cernol.works.entity.SystemKey</class>
        <class>com.cernol.works.entity.ProductContainer</class>
        <class>com.cernol.works.entity.PriceUpdate</class>
        <class>com.cernol.works.entity.PriceUpdateItem</class>
        <properties>
            <property name="eclipselink.logging.level"
                      value="FINE"/>
            <property name="eclipselink.logging.parameters"
                      value="true"/>
        </properties>
        <class>com.cernol.works.entity.StockUsage</class>
        <class>com.cernol.works.entity.PriceList</class>
        <class>com.cernol.works.entity.Calendar</class>
    </persistence-unit>
</persistence>
